body {
    background-color:#F8F1F1;
}

.header-main{
    height: 100px;
    background-color: #231D1D;
    justify-content: center;

}

.site-footer {
    background-color: #231D1D;
    height: 200px;
}

.search-form {
    width: 400px;
    
    padding-top: 35px;
}

.search-submit {
    display: none;
   
}

#site-logo {
    color: white;
    font-family: rockwell, sans-serif;
    padding-top: 20px;
}

.menu_id, a {
    display: inline-block;
    color: white;
    font-family: myriad-pro;
    font-size: 21px;
    
}

.site-footer {
    margin-top: 200px;
    padding: 50px;
}

.card {
    width: 255px;
    height: 395px;
    border: .5px solid #231D1D;
    margin-bottom: 80px;
}

#department-card {
    width: 320px;
    height: 380px;
   
}

p {
    font-family: myriad-pro;
}

h2{
    text-align: center;
    font-family: rockwell, sans-serif;
}

.department-card-header {
    font-family: rockwell, sans-serif;
    text-align: center;
}

img {
    overflow: hidden;
    width: 100%;
}

.h1-about {
    text-align: center;
    margin-top: 30px;
}

.form-container {
    margin-left: 410px;
}

input {
    width: 400px;
}

hr {
    background-color: #E61A1A;
    height: 2px;
}

label {
    font-family: myriad-pro;
}