.header-main{
    height: 100px;
    background-color: #231D1D;
    justify-content: center;
    padding: 20px;
}

.site-footer {
    background-color: #231D1D;
    height: 200px;
}

.search-form {
    width: 480px;
    text-align: right;
    float: right;
}

.search-submit {
    display: none;
}

#site-logo {
    color: white;
    font-family: rockwell, sans-serif;
}

ul > li {
    display: inline-block;
    color: white;
    font-family: myriad-pro;
    font-size: 21px;
    margin-left: 15px;
    margin-top: 10px;
}

.site-footer {
    margin-top: 200px;
    padding: 50px;
}