.wp-block-quote {
    color:blue
}

.wp-block-quote.is-style-fancy-quote {
    color: tomato;
}

 .product, .entry-footer, .entry-meta  {
    width: 70%;
    margin-left: auto ;
    margin-right: auto ;
}

entry-title {
    font-size: larger;
    text-decoration: underline;
}
